<br><b>Export to : &nbsp;
  <a href="<%= action_name %>.csv" download="<%= action_name %>_<%= Time.now.to_s.tr(' ','_') %>.csv">CSV</a>
  |
  <a href="<%= action_name %>.xls" download="<%= action_name %>_<%= Time.now.to_s.tr(' ','_') %>.xls">XLS</a>
  |
  <a href="<%= action_name %>.json" download="<%= action_name %>_<%= Time.now.to_s.tr(' ','_') %>.json">JSON</a>
<!--   |
  <a href="<%= action_name %>.rds" download="<%= action_name %>_<%= Time.now.to_s.tr(' ','_') %>.rds">RDS</a> -->
</b>
