<!DOCTYPE html>
<html>
  <head>
    <title>DataTables</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href='http://fonts.googleapis.com/css?family=Raleway:800,500|Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>

    <!--Bootstrap Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- dependent script -->
    <%=raw Daru::View.dependent_script(:datatables) %>
    <%=raw Daru::View.dependent_script(:googlecharts) %>

    <style>
      .container { max-width: 800px; }
      .jumbotron { text-align: center; }
    </style>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">
      $(function() {
        $('.view-and-code .nav-tabs a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        });
      });
    </script>
  </head>

  <body>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
